@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

*{
  color: white;
  font-family: 'Poppins';
}
::-webkit-scrollbar{
  display: none;
}
::selection{
  background: var(--selection);
}
:root{
  --cta-color: #5F55A7;
  --cta-hover: #c02177;
  --selection: #00000030;
}
:root .dark{
  --bg-color-a: #3d3d3d;
  --bg-color-b: #1d1d1d;
  --bg-color-c: #212121;
  --cta-color: #1d1d1d;
  --selection: #7f7f7f30;
}
body{
  background: linear-gradient(var(--angle), var(--bg-color-a) 16.49%, var(--bg-color-c) 65.46%, var(--bg-color-c) 112.43%);
  transition: --bg-color-a 3s,--bg-color-b 2s, --bg-color-c 1s;
  animation: body-bg-rot 5s infinite alternate;
}
nav{
  z-index: 10;
  position: absolute;
}
main{
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
section{
  height: 100vh;
  min-width: 100vw;

  overflow: hidden;
}
section, footer{
  scroll-snap-type: mandatory-x;
}
hr{
  width: 1rem;
}
input{
  padding-inline: 1rem !important;
  outline: none;
  border: 1px solid white;
  background: transparent;
  width: 100%;
}
iframe{
  min-height: 50vh;
  border-radius: 1rem;
}
a:has(i):hover{
  opacity: 0.7;
}
button:hover{
  text-shadow: 0px 0px 8px #ffffff66;
}
#details{
  grid-template-columns: 1fr 3fr
}
.hero{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  background: url('https://cdn.discordapp.com/attachments/995412812748836864/1106366857616826408/meta.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.hero article{
  padding-inline: 6rem;
  padding-top: 30vh;
}
.hero article:nth-child(2){
  padding-top: 40vh;
}
.hero h3{
  max-width: 22ch;
  position: relative;
}
.hero h3::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 60%;
  margin-left: 2px;
  margin-top: 2.9rem;
  background: white;
}
.hero h3::after{
  content: "";
  position: absolute;
  left: 0.9rem;
  top: -2px;
  height: 4px;
  width: 4px;
  transform: rotateZ(45deg);
  margin-top: 2.9rem;
  background: white;
}
.hero .cta{
  color: var(--cta-color);
}
footer .cta{
  color: var(--bg-color-c);
}
.dark footer .cta{
  color: #1d1d1d;
}
.cta{
  background: white;
  backdrop-filter: blur(16px);
}
.cta:hover{
  background: var(--cta-hover);
  color: #ffffff;
  border: 1px solid #ffffff00;
  transition: color 1s, border 60ms, background 300ms;
}
.cta-secondary{
  background: #ffffff00;
}
.cta-secondary:hover{
  background: #ffffffff;
  color: var(--cta-hover);
}
.cta, .cta-secondary{
  font-size: 0.618033rem;
  padding: 0.6180352109rem 2.018030789rem;
  border: 1px solid #ffffffff;
  white-space: nowrap;
  transition: color 1s, border 150ms, background 300ms;
}
.hero span{
  color: #FFF500;
}
.line span{
  border-left: 4px solid #ffffff20;
  padding-left: 6px;
  height: min-content;
}
.text-xs{
  font-size: 0.5rem;
}
.showcase img{
  --img-scale: 1;
  object-fit: contain;
  border-radius: 1rem;
  width: 18vw;
  inset-inline: auto;
  transition: 300ms ease-out;
}
.showcase img:nth-child(1){
  transform: rotateZ(2deg) scale(var(--img-scale));
}
.showcase img:nth-child(2){
  transform: translateX(-10%) translateY(-5%) rotateZ(-3deg) scale(var(--img-scale));
}
.showcase img:nth-child(3){
  transform: translateX(-15%) rotateZ(2deg) scale(var(--img-scale));
}
.showcase img:hover{
  --img-scale: 1.05;
  z-index: 10;
}
@import "properties.css";
@import "responsive.css";
